
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   
   <form  [formGroup] = "userForm"  (ngSubmit)="UserValid(userForm.value)">
      <legend>REGISTER FORM</legend>
   
      <div class="form-group"
      [ngClass]="{'has-error':!userForm.controls['username'].valid 
                         && userForm.controls['username'].touched,
                         'has-success':  userForm.controls['username'].valid
}"
      >
         <label for="">Username</label>
         <input type="text"
                   class="form-control"
                    placeholder="username"
                    formControlName="username"
                    >
<div class="alert alert-danger" *ngIf="userForm.controls['username'].hasError('required') && 
   userForm.controls['username'].touched
">
   Username is required
</div>
<div class="alert alert-danger" *ngIf="userForm.controls['username'].hasError('minlength') && 
userForm.controls['username'].touched
">
Username must be 5 characters
</div>


<label for="">Password</label>
         <input type="password"
                   class="form-control"
                    placeholder="enter password"
                    formControlName="password"
                    >
<div class="alert alert-danger" *ngIf="userForm.controls['password'].hasError('required') && 
   userForm.controls['password'].touched
">
   password is required
</div>
<div class="alert alert-danger" *ngIf="userForm.controls['password'].hasError('minlength') && 
userForm.controls['password'].touched
">
password must be 5 characters
</div>

<label for="">Email</label>
         <input type="email"
                   class="form-control"
                    placeholder="enter email"
                    formControlName="email"
                    >
<div class="alert alert-danger" *ngIf="userForm.controls['email'].hasError('required') && 
   userForm.controls['email'].touched
">
   email is required
</div>
<div class="alert alert-danger" *ngIf="userForm.controls['email'].hasError('minlength') && 
userForm.controls['email'].touched
">
Not validate
</div>


      </div>
   
      
   
      <button type="submit" class="btn btn-primary"
       [disabled]="!userForm.valid"
      >Submit</button>
   </form>
   
</div>
